body {
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
	font-size: 100%;
	background-image: linear-gradient(#c9c6c5, #eeeeee);
	text-align: center;
	color: #292926;
	margin: 0;
	padding: 0;
}

#bodyDiv {
	width: 500px;
}

#span_headerspace {
	height: 4px;
	display: block;
}

#span_header {
	display: block;
	height: 30px;
	font-size: 29px;
	font-weight: bold;
	font-style: italic;
	font-family: "Times New Roman", Georgia, Serif;
}

/* this span sits inside span_header*/
#span_year {
	font-size: 34px;
}

#span_fact {
	display: block;
	height: 64px;
	font-size: 23px;
	font-family: Verdana, Geneva, sans-serif;
	padding-left: 3px;
	padding-right: 3px;
}

button {
	width: 30%;
	height: 52px;
	vertical-align: top;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	border: 0;
	background-color: #c9b49e;
}


button:hover {
	background-color: #bd9d75;
	cursor: pointer;
}

button:focus {outline:0;}

#goBackBtn {
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

#goFwdBtn {
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

#changeOptionsLink {
	position:fixed;
    bottom:20px;
    right:25px;
    height:20px;
    color: #6f553a;
    font-weight: 500;
}

#settings-img-div { 
	background: #ffffff url("settings.png") no-repeat;
	width: 25px;
	height: 25px;
	position: fixed;
	bottom: 16px;
}

a#changeOptionsLink:link {
    text-decoration: none;
}

a#changeOptionsLink:visited {
    text-decoration: none;
    color: none;
}

a#changeOptionsLink:hover {
    text-decoration: underline;
}

a#changeOptionsLink:active {
    text-decoration: underline;
}